@font-face {
	font-family: Lexend;
	src: url(fonts/Lexend-Regular.ttf);
}
@font-face {
	font-family: Lexend SemiBold;
	src: url(fonts/Lexend-SemiBold.ttf);
}
* {
	background-color: #111;
	color: #eee;
	font-family: Lexend;
	font-size: 30px;
}
#app {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
.currency {
	font-family: Lexend SemiBold;
}
.rank-container, .tier-container, .tetr-container {
	width: 180px;
	height: 180px;
	display: flex;
	flex-direction: row;
	align-content: center;
}
.rank-text {
	font-size: 50px;
	color: #f88;
}
.tier-text {
	font-size: 50px;
	color: #fc8;
}
.tetr-text {
	font-size: 50px;
	color: #ff8;
}
.rank-button {
	font-size: 20px;
	height: 100%;
	background-color: #844;
	color: #f88;
}
.rank-button:disabled {
	font-size: 20px;
	height: 100%;
	background-color: #555;
	color: #f88;
}
.tier-button {
	font-size: 20px;
	height: 100%;
	background-color: #864;
	color: #fc8;
}
.tier-button:disabled {
	font-size: 20px;
	height: 100%;
	background-color: #555;
	color: #fc8;
}
.tetr-button {
	font-size: 20px;
	height: 100%;
	background-color: #884;
	color: #ff8;
}
.tetr-button:disabled {
	font-size: 20px;
	height: 100%;
	background-color: #555;
	color: #ff8;
}
