<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/main.css"/>
    <title>untitled rank incremental</title>
    <meta name="description" content="Self-explanatory."/>
    <meta name="og:title" content="untitled rank incremental"/>
    <meta name="og:description" content="Self-explanatory."/>
</head>
<body>
    <div id="app">
        <main v-if="gameWon == false">
            <p>You have <span class="big">{{format(points)}}</span> <span id="currency">points</span>.</p>
            <p>(+<span class="big">{{format(pointGain)}}</span>/sec)</p>
            <div id="layer-container">
              <div class="rank-container">
                <div class="rank-text"><span id="currency">Rank</span> {{ranks}}</div>
                <button class="rank-button" v-if="points.gte(rankReqs)" @click="rankUp()">
                  +{{format(rankGain)}} <span id="currency">Ranks</span><br>
                  Next: {{format(nextRank)}} <span id="currency">points</span>
                </button>
                <button class="rank-button" v-else disabled>
                  You need {{format(rankReqs)}} points to Rank up.
                </button>
              </div>
              <div class="tier-container">
                <div class="tier-text"><span id="currency">Tier</span> {{tiers}}</div>
                <button class="tier-button" v-if="rank.gte(tierReqs)" @click="tierUp()">
                  +{{format(tierGain)}} <span id="currency">Tiers</span><br>
                  Next: <span id="currency">Rank</span> {{format(nextTier)}}
                </button>
                <button class="tier-button" v-else disabled>
                  You need Rank {{format(tierReqs)}} to Tier up.
                </button>
              </div>
              <div class="tetr-container">
                <div class="tetr-text"><span id="currency">Tetr</span> {{tetrs}}</div>
                <button class="tetr-button" v-if="tier.gte(tetrReqs)" @click="tetrUp()">
                  +{{format(tetrGain)}} <span id="currency">Tetrs</span><br>
                  Next: <span id="currency">Tier</span> {{format(nextTetr)}}
                </button>
                <button class="tetr-button" v-else disabled>
                  You need Tier {{format(tetrReqs)}} to Tetr up.
                </button>
              </div>
          </div>
        </main>
        <main v-else>
            <span class="big">You won!</span>
        </main>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/break_eternity.js"></script>
<script src="js/data.js"></script>
<script src="js/functions.js"></script>
<script src="js/main.js"></script>
</html>
